In [80]:
import pandas as pd

In [81]:
import numpy as np

In [82]:
pd.__version__

'0.25.1'

In [83]:
M1_pd = pd.read_excel("./2020/PFWY2M01H1C_Result.xls", sheet_name="Sheet0",  skiprows=1)

In [84]:
M1_pd

,區號,區域,大廈名稱,街名及門牌,成交量,平均樓價($/㎡)
0,1,青洲區,綠洲,"青洲上街, 2-114\n工業園一巷, 7, 9\n工業園二巷, 6, 8\n工業園新街, ...",1.0,NaN
1,1,青洲區,美居廣場，嘉應花園,"白朗古將軍大馬路, 115,117,119 E 121\n青洲大馬路, 309, 315,3...",1.0,NaN
2,1,青洲區,美居廣場–新勝閣、永勝閣,"和樂大馬路, 237,241,245 A 287\n青洲大馬路, 477,481,485 A...",1.0,NaN
3,2,台山區,大明閣,"青洲大馬路, 16,24,30,34,40\n巴波沙大馬路, 25,27,29,35 A 7...",1.0,NaN
4,2,台山區,濠江花園,"菜園涌邊街, 282,286,288 A 474\n菜園涌北街, 47,51,55,57,6...",1.0,NaN
...,...,...,...,...,...,...
145,23,路環區,金峰南岸一座(T3)二座(T4)三座(T5),石排灣馬路地段三,2.0,NaN
146,23,路環區,金峰南岸一座(T6) 二座(T7),石排灣馬路地段四,2.0,NaN
147,23,路環區,金峰南岸一座(T8) 二座(T9),石排灣馬路地段五,1.0,NaN
148,NaN,NaN,NaN,NaN,NaN,NaN
149,備註：\n1. 按統計暨普查局劃分區域的方式分區及只作統計用途。\n2. 為遵守對資料保密的...,NaN,NaN,NaN,NaN,NaN

In [85]:
M1_pd = M1_pd.rename(columns=)

In [86]:
M1_pd

,區號,Area,Building_Name,街名及門牌,Volume,Price/㎡
0,1,青洲區,綠洲,"青洲上街, 2-114\n工業園一巷, 7, 9\n工業園二巷, 6, 8\n工業園新街, ...",1.0,NaN
1,1,青洲區,美居廣場，嘉應花園,"白朗古將軍大馬路, 115,117,119 E 121\n青洲大馬路, 309, 315,3...",1.0,NaN
2,1,青洲區,美居廣場–新勝閣、永勝閣,"和樂大馬路, 237,241,245 A 287\n青洲大馬路, 477,481,485 A...",1.0,NaN
3,2,台山區,大明閣,"青洲大馬路, 16,24,30,34,40\n巴波沙大馬路, 25,27,29,35 A 7...",1.0,NaN
4,2,台山區,濠江花園,"菜園涌邊街, 282,286,288 A 474\n菜園涌北街, 47,51,55,57,6...",1.0,NaN
...,...,...,...,...,...,...
145,23,路環區,金峰南岸一座(T3)二座(T4)三座(T5),石排灣馬路地段三,2.0,NaN
146,23,路環區,金峰南岸一座(T6) 二座(T7),石排灣馬路地段四,2.0,NaN
147,23,路環區,金峰南岸一座(T8) 二座(T9),石排灣馬路地段五,1.0,NaN
148,NaN,NaN,NaN,NaN,NaN,NaN
149,備註：\n1. 按統計暨普查局劃分區域的方式分區及只作統計用途。\n2. 為遵守對資料保密的...,NaN,NaN,NaN,NaN,NaN

In [92]:
M1_pd = M1_pd[np.isnan(M1_pd['Volume']) == False]

In [93]:
M1_pd

,區號,Area,Building_Name,街名及門牌,Volume,Price/㎡
0,1,青洲區,綠洲,"青洲上街, 2-114\n工業園一巷, 7, 9\n工業園二巷, 6, 8\n工業園新街, ...",1.0,NaN
1,1,青洲區,美居廣場，嘉應花園,"白朗古將軍大馬路, 115,117,119 E 121\n青洲大馬路, 309, 315,3...",1.0,NaN
2,1,青洲區,美居廣場–新勝閣、永勝閣,"和樂大馬路, 237,241,245 A 287\n青洲大馬路, 477,481,485 A...",1.0,NaN
3,2,台山區,大明閣,"青洲大馬路, 16,24,30,34,40\n巴波沙大馬路, 25,27,29,35 A 7...",1.0,NaN
4,2,台山區,濠江花園,"菜園涌邊街, 282,286,288 A 474\n菜園涌北街, 47,51,55,57,6...",1.0,NaN
...,...,...,...,...,...,...
143,23,路環區,金峰名鑄（地段8）,榕樹街,11.0,149017.0
144,23,路環區,金峰南岸一座(T10)二座(T11)三座(T12,石排灣馬路地段六,4.0,107023.0
145,23,路環區,金峰南岸一座(T3)二座(T4)三座(T5),石排灣馬路地段三,2.0,NaN
146,23,路環區,金峰南岸一座(T6) 二座(T7),石排灣馬路地段四,2.0,NaN
147,23,路環區,金峰南岸一座(T8) 二座(T9),石排灣馬路地段五,1.0,NaN

In [94]:
M1_pd = M1_pd[['Area', 'Building_Name', 'Volume', 'Price/㎡']]

In [95]:
M1_pd

    Area             Building_Name  Volume   Price/㎡
0    青洲區                        綠洲     1.0       NaN
1    青洲區                 美居廣場，嘉應花園     1.0       NaN
2    青洲區              美居廣場–新勝閣、永勝閣     1.0       NaN
3    台山區                       大明閣     1.0       NaN
4    台山區                      濠江花園     1.0       NaN
..   ...                       ...     ...       ...
143  路環區                 金峰名鑄（地段8）    11.0  149017.0
144  路環區  金峰南岸一座(T10)二座(T11)三座(T12     4.0  107023.0
145  路環區    金峰南岸一座(T3)二座(T4)三座(T5)     2.0       NaN
146  路環區         金峰南岸一座(T6) 二座(T7)     2.0       NaN
147  路環區         金峰南岸一座(T8) 二座(T9)     1.0       NaN

[148 rows x 4 columns]

In [98]:
month = []
month = [1] * M1_pd.shape[0]

In [102]:
year = [2020] * M1_pd.shape[0]

In [103]:
M1_pd['Month'] = month
M1_pd['Year'] = year
M1_pd

C:\Users\isaac\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    Area             Building_Name  Volume   Price/㎡  Month  Year
0    青洲區                        綠洲     1.0       NaN      1  2020
1    青洲區                 美居廣場，嘉應花園     1.0       NaN      1  2020
2    青洲區              美居廣場–新勝閣、永勝閣     1.0       NaN      1  2020
3    台山區                       大明閣     1.0       NaN      1  2020
4    台山區                      濠江花園     1.0       NaN      1  2020
..   ...                       ...     ...       ...    ...   ...
143  路環區                 金峰名鑄（地段8）    11.0  149017.0      1  2020
144  路環區  金峰南岸一座(T10)二座(T11)三座(T12     4.0  107023.0      1  2020
145  路環區    金峰南岸一座(T3)二座(T4)三座(T5)     2.0       NaN      1  2020
146  路環區         金峰南岸一座(T6) 二座(T7)     2.0       NaN      1  2020
147  路環區         金峰南岸一座(T8) 二座(T9)     1.0       NaN      1  2020

[148 rows x 6 columns]

In [105]:
groupy = M1_pd.groupby('Area')

            Building_Name  Volume  Price/㎡  Month  Year
Area
下環區                    15      15        0     15    15
中區                      5       5        0      5     5
北安及大潭山區                 1       1        0      1     1
南西灣及主教山區                2       2        0      2     2
台山區                     8       8        1      8     8
外港及南灣湖新填海區              3       3        0      3     3
大學及北安灣區                 2       2        0      2     2
新口岸區                    7       7        0      7     7
新橋區                     9      10        0     10    10
望廈及水塘區                  7       7        1      7     7
東望洋區（松山區）               1       1        0      1     1
林茂塘區                    8       8        0      8     8
氹仔中心區                  13      13        3     13    13
氹仔舊城及馬場區                5       5        0      5     5
沙梨頭及大三巴區                5       5        0      5     5
海洋及小潭山區                 2       2        0      2     2
筷子基區                    4       4        1      4     4
荷蘭園區                    8       8        0      8     8
路環區                     5       5        2      5     5
青洲區                     3       3        0      3     3
高士德及雅廉訪區                5       5        0      5     5
黑沙環及祐漢區                18      18        0     18    18
黑沙環新填海區                11      11        5     11    11